/* font-family: 'Comforter', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Mr Dafoe', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'VT323', monospace; */

* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ede9eb;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f7f4;
  margin: 0 auto;
  padding: 10px;
}
div.login-container {
  background-color: #32292f;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

section {
  /* width: 100%; */
  margin: 0 auto;
  padding: 10px;
}

section.login {
  width: 100%;
  max-width: 800px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.login h1 {
  margin-bottom: 20px;
  font-size: 4rem;
  /* font-family: "Comforter", cursive; */
  font-family: "Fredoka One", cursive;
  /* font-family: "Mr Dafoe", cursive; */
}

body > div > section > form > header > h1:nth-child(1) {
  font-family: "Mr Dafoe", cursive;
  margin-bottom: -45px;
  margin-top: 0px;
}

body > div > section > form > header > h1:nth-child(2) {
  margin-top: 0px;
}

section.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 20px 100px 100px 100px;
  border-radius: 5px;
  background-color: #f0f7f4;
}

section.login div {
  width: 100%;
  max-width: 200px;
  margin: 10px;
}

section.login input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  color: #f0f7f4;
  border-radius: 5px;
  background-color: #70abaf;
  border: none;
}

section.login input::placeholder {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #f0f7f4;
}

.login-form > div {
  border-top: #32292f solid 2px;
}

section.login button {
  align-self: flex-end;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #99e1d9;
}
section.login a {
  align-self: flex-end;
}

button {
  width: 75px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
button:hover {
  opacity: 80%;
}

h1 {
  font-family: "Fredoka One", cursive;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
}

section.log-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 30px;
  padding: 0px;
  border: none;
  padding: 5px;
}

section.log-out form {
  width: 50%;
  display: flex;
  justify-content: end;
}

section.log-out p {
  margin: 0px;
  font-size: 1.15em;
  width: 50%;
  font-weight: bold;
  color: #32292f;
}
section.log-out button {
  width: auto;
  background-color: #32292f;
  color: #ede9eb;
  padding: 5px;
}

section.new-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  border: none;
  padding: 5px;
}

section.new-order form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f7f4;
}

section.new-order input,
section.new-order button {
  margin: 5px;
  width: 260px;
  padding: 5px;
}

section.new-order button {
  background-color: #99e1d9;
}
section.new-order label {
  font-size: 0.8rem;
}

section.new-order div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  margin: 5px;
}

/* {
  margin: 0px;
  padding: 0px;
  width: 150px;
} */
.orders_list {
  margin: auto 0;
  padding: 20px;
  text-align: center;
  border: #70abaf solid;
  border-radius: 5px;
  background-color: #f0f7f4;
}

.order_buttons {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-bottom: 20px;
  border-bottom: solid 2px #70abaf;
}

.order_buttons > button {
  margin-right: 10px;
  color: #f0f7f4;
  background-color: #70abaf;
}

.meals {
  width: 70%;
  padding: 0px;
  background-color: #99e1d9;
  padding: 5px;
  border-radius: 5px;
}

section.meal form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
section.meals header {
  width: 100%;
}
section.meals h2 {
  border-bottom: solid 2px #32292f;
}

.order_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.back-button {
  margin: 10px;
  margin-right: 15%;
  align-self: flex-end;
  background-color: #99e1d9;
}
