<section class="login" > 

<form class="login-form" action="/users" method="POST">

<label for="">First Name:</label>
<input type="text" name="first_name">

<label for="">Last Name</label>
<input type="text" name="last_name">

<label for="">Email Address</label>
<input type="text" name="email">

<label for="">Phone</label>
<input type="number" name="phone">

<label for="">Password</label>
<input type="password" name="password">

<button>Sign Up</button>

</form>

</section>